.bugdinTsagaan{
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.imageContainer{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top:10px;
}
.imageContainer p{
    position: relative;
    text-align: center;
    text-decoration: none;
}
.imageChang{
    display: inline-flex;
    padding: 25px;
}
.zurags{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    margin: 0 10px;
    transition: transform .2s;
}
.imageContainer img{
    display: inline-block;
    max-width: 100%;
    width: 25rem;
    height: 80%;
    padding: 10px;
    border-radius: 20px;
}
.zurags:hover{
    transform: scale(1.1);

}
.image-link{
    text-decoration: none;
}
@media (max-width: 920px){
    .imageContainer{
        width: 100%;
        height: auto;
        margin: auto;
        padding: 0 5%;
    }
    .imageContainer img {
        display: inline-block;
        max-width: 100%;
        width: 250px;
        height: 150px;
        max-height: 100%;
        padding: 10px;
        border-radius: 20px;
    }
    .imageChang {
        padding: 15px; 
    }
    .zurags {
        margin: 5px 0;
    }
}