.Buhel{
    margin: 40px 20%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.Buhel h1{
    display: block;
    text-align: center;
    font-size: 34px;
    margin-top: -5%;
}
.parameterBusiness{
    margin: 0 5%;
    margin-top: -80px;
}